.App {
  text-align: center;
}

.ForContainer{
  margin-top: 5%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2% 2% 2% 2%;
}

.ForPara{
  text-align: left;
  font-weight: 400;
}

.bottomspace{
  margin-bottom: 2%;
}

.ForContainer .table th{
  border-top: 0;
}